@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Onest:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Cal Sans';
  src: url('https://cdn.jsdelivr.net/npm/cal-sans@1.0.1/dist/CalSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #FBF9F4;
  --foreground: #443218;
  --muted-text: #8D8177;
  --accent-orange: #FF5A1F;
  --accent-blue: #4209DF;
  --border-color: #D5D4CF;
  --placeholder-bg: #F5F2ED;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cal Sans', sans-serif;
}

/* Hatched / Zebra Pattern */
.hatch-pattern {
  background-image: repeating-linear-gradient(45deg,
      var(--border-color),
      var(--border-color) 1px,
      transparent 1px,
      transparent 10px);
  background-size: 14px 14px;
}

/* Hatched / Zebra Pattern Orange*/
.hatch-pattern-orange {
  background-image: repeating-linear-gradient(45deg,
      #FF9A73,
      #FF9A73 2px,
      transparent 2px,
      transparent 10px);
  background-size: 14px 14px;
}


/* Hatched / Zebra Strip */
.hatch-pattern-strip {
  background-image: repeating-linear-gradient(45deg,
      #e4e4e4,
      #e4e4e4 2px,
      transparent 2px,
      transparent 10px);
  background-size: 14px 14px;
}

/* 1300px Frame Container */
.page-frame {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  /* Visual Borders */
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

/* Base transitions */
.transition-all {
  transition-duration: 250ms;
}

.selection\:bg-orange-100 ::selection {
  background-color: #fef3c7;
  color: #92400e;
}